@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    box-sizing: border-box;
}

body {
    background-color: #ffefea;
    font-family: "Lato", sans-serif;
    min-height: 100vh;
    margin: 0;
}

h1 {
    text-align: center ;
}

.container {
    margin: 0;
    padding: 20px;
}

.btn {
    cursor: pointer;
    background-color: darksalmon;
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    padding: 8px;
}

.btn:active {
    transform: scale(0.95);
}

.btn:focus, select:focus {
    outline: 0;
}

.btn-toggle{
    display: block;
    margin: 0 auto 20px;
}

.text-box {
    width: 70%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -800px);
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    transition: all 1s ease-in-out;
}

.text-box.show {
    transform: translate(-50%, 0px);
}

.text-box select {
    background-color: darksalmon;
    border: 0;
    color: #fff;
    font-size: 12px;
    height: 30px;
    width: 100%;
}

.text-box textarea {
    border: 1px solid #dadada;
    border-radius: 4px;
    font-size: 16px;
    padding: 8px;
    margin: 15px 0;
    width: 100%;
    height: 150px;
}

.text-box .btn {
    width: 100%;
}

.text-box .close {
    cursor: pointer;
    text-align: right;
}

.text-box .title {
    margin-top: 0;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px
}

main .box {
    box-shadow: 0 2px 10px rgba(0,0,0, 0.3);
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: box-shodow 0.2s ease-out;
}

.box.active {
    box-shadow: 0 0 10px 5px darksalmon;
}

main .box img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.box .info {
    background-color: darksalmon;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    height: 100%;
    letter-spacing: 1px;
    margin: 0;
}

@media (max-width: 1100px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    main {
        grid-template-columns: 1fr;
    }
}
