@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


* {
    box-sizing: border-box;
}

body {
    background-image: url('./img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
}

body * {
    z-index: 1;
}

.year {
    font-size: 200px;
    color: #000;
    z-index: -1;
    opacity: 0.6;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

h1 {
    font-size: 60px;
    margin: -80px 0 40px;
}

.countdown {
    display: none;
    justify-content: space-around;
    transform: scale(1.5);
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px
}

.time h2 {
    margin: 0 0 5px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 45px;
    }

    .time {
        margin: 5px;
    }

    .time h2 {
        font-size: 12px;
        margin: 0;
    }

    .time small {
        font-size: 10px;
    }
}